/vendor
/web/modules/contrib
/web/themes/contrib
/web/core
/web/sites/default/files
*.bak
/.env.local
local.settings.php
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/INSTALL.txt
/web/README.txt
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/robots.txt
/web/update.php
/web/web.config
/web/README.md
default.settings.php
default.services.yml
example.settings.local.php
example.sites.php
/web/.htaccess
/web/modules/README.txt
/web/profiles/README.txt
/web/sites/README.txt
/web/themes/README.txt
